<nav class="navbar navbar-default" role="navigation">
    <ul class="navbar navbar-nav">
        <li><a class="nav-link" href="/">Главная</a></li>
    </ul>
    <ul class="navbar navbar-nav navbar-right">
        <li><a class="nav-link" href="/login">Войти</a></li>
    </ul>
</nav>
